nrclex
psycopg2-binary
streamlit==1.42.2
SQLAlchemy==2.0.38
python-dotenv==1.0.1
requests==2.32.3
google-generativeai==0.8.5
nltk==3.9.1
audio-recorder-streamlit==0.0.10
SpeechRecognition==3.14.1
emoji==1.6.3